<!DOCTYPE html>
<html>
  <head>
      <title>FreshDucks</title>
      <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="static/app.css">
  </head>
  <body>
    <div id="app"></div>
    <script src="static/bundle.js"></script>
  </body>
</html>
